services:
	Forrest79PHPStanNarrowTypesFunctionTypeSpecifyingExtension:
		class: Forrest79\PHPStanNarrowTypes\PHPStan\Type\NarrowTypesFunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	Forrest79PHPStanNarrowTypesNarrowTypesStaticMethodReturnTypeExtension:
		class: Forrest79\PHPStanNarrowTypes\PHPStan\Type\NarrowTypesStaticMethodReturnTypeExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
