services:
	Forrest79TypeValidatorFunctionTypeSpecifyingExtension:
		class: Forrest79\TypeValidator\PHPStan\Type\FunctionTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.functionTypeSpecifyingExtension

	Forrest79TypeValidatorStaticMethodTypeSpecifyingExtension:
		class: Forrest79\TypeValidator\PHPStan\Type\StaticMethodTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
