includes:
	- %rootDir%/conf/bleedingEdge.neon
	- %rootDir%/../phpstan-strict-rules/rules.neon
	- %rootDir%/../../../vendor/shipmonk/phpstan-rules/rules.neon

	# Settings for tests
	- extension.neon

parameters:
	level: max
	excludePaths:
		# isType() must be called only with constant string as $type, not a variable
		- src/functions.php
	ignoreErrors:
		-
			rawMessage: Variable property access on object.
			identifier: property.dynamicName
			count: 1
			path: src/TypeValidator/Helpers/Runtime.php

		-
			rawMessage: Creating new PHPStan\Parser\ParserErrorsException is not covered by backward compatibility promise. The class might change in a minor PHPStan version.
			identifier: phpstanApi.constructor
			count: 1
			path: src/TypeValidator/PHPStan/Type/ReturnTypeExtension.php
